<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Меню лабораторних</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>Виберіть лабораторну роботу</h1>

  <div class="menu">
    <button onclick="window.location.href='/lab1'">Лабораторна 1</button>
    <button onclick="window.location.href='/lab2'">Лабораторна 2</button>
    <button onclick="window.location.href='/lab3'">Лабораторна 3</button>
    <button onclick="window.location.href='/lab4'">Лабораторна 4 </button>
    <button onclick="window.location.href='/lab5'">Лабораторна 5</button>
  </div>
</body>
</html>
